{% extends "base.html" %}
{% block body %}
<br>
<div class="pure-g">
    <div class="pure-u-1">
        <h3>Search result: {{ match_torrents_count }} items</h3>
        <table class="pure-table pure-table-bordered">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Magnet</th>
                </tr>
            </thead>
             <tbody>
                 {% for item in result %}
                 <tr>
                     <td>{{ item[1] }}</td>
                     <td><a href="magnet:?xt=urn:btih:{{ item[0] }}&dn={{ item[1] }}">magnet:?xt=urn:btih:{{ item[0] }}</a></td>
                 </tr>
                 {% endfor %}
             </tbody>
        </table>
    </div>
</div>
{% endblock %}
